* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

input,
button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid cornflowerblue;
    /* border-radius: 10px; */
}

.input_section>h2 {
    text-align: center;
    color: cornflowerblue;
}

.input_section>form>.input {
    margin: 8px 0;

}

.input_section>form>button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border: 1px solid cornflowerblue;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section>form>button>span {
    font-weight: bold;
}

.input_section>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid cornflowerblue;
    margin-top: 10px;

}


.input_section>form>.input>label {
    color: cornflowerblue;
    font-weight: bold;
}

.input_section>form>.input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section>form>.input_inline>label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid cornflowerblue;
    /* border-radius: 10px; */
}

.search_section>h2 {
    color: cornflowerblue;
}

.search_section>form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section>form>label {
    color: cornflowerblue;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.search_section>form>input {
    padding: 5px;
    border: 1px solid cornflowerblue;
}

.search_section>form>button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    /* border-radius: 5px; */
    cursor: pointer;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid cornflowerblue;
    padding: 16px;
    /* border-radius: 10px; */
}

.book_shelf>h2 {
    color: cornflowerblue;
    text-align: center;
}

.book_shelf>.book_list {
    padding: 16px;
}

.book_shelf>.book_list>.book_item {
    /* border-radius: 16px; */
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.book_shelf>.book_list>.book_item>h3,
p {
    margin: 8px 0;

}

.inner h2 {
    margin-bottom: unset;
}

.inner p {
    margin-top: 5px;
}

.check-button {
    width: 40px;
    height: 40px;

    background: url('../assets/circle-check.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/circle-check-fill.svg');
    background-size: contain;
}

.edit-button {
    width: 40px;
    height: 40px;
    background: url('../assets/pen-to-square-regular.svg');
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.edit-button:hover {
    background: url('../assets/pen-to-square-solid.svg');
    background-size: contain;
}

.trash-button {
    width: 40px;
    height: 40px;
    background: url('../assets/trash-empty.svg');
    background-size: contain;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash.svg');
    background-size: contain;
}

.undo-button {
    width: 40px;
    height: 40px;

    background: url('../assets/reload-circle-outline.svg');
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/reload-circle-sharp.svg');
    background-size: contain;
}

/* .check-button:focus,
.trash-button {
    outline: none;
} */